# Environment variables
.env

# Dependencies
/node_modules
/bower_components

# Build files
/build
/dist
/.parcel-cache

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# System files
.DS_Store
Thumbs.db
